.binding0 { background-color: aqua; }
.binding1 { background-color: greenyellow; }
.binding2 { background-color: darkorange; }

.beta-redex { border-style: solid;
              border-width: thin;
             }
