.beta-redex, .arith-redex { border-style: solid;
                            border-width: thin;
                          }

footer { clear: both;
       }

#input-section {  float: left;
                  width: 60%; }

#inputbox { width: 95%; }

#trace-section { width: 39%;
                 float: left;
               }

.box { position: fixed;
       left: 20%;
       top: 1em;
       bottom: 1em;
       right: 20%;
       border-style: solid;
       background: lightgrey;
       opacity: 0;
       overflow: auto;
       pointer-events: none;
     }

.box:target { opacity: 1;
              pointer-events: auto;
            }

a.close { position: absolute;
          right: 0;
        }