.beta-redex, .arith-redex { border-style: solid;
                            border-width: thin;
                          }

#input-section {  border-style: solid;
                  width: 55%; }

#ast-section {  border-style: solid;
                height: 40ex;
                overflow: auto;
             }

#trace-section { border-style: solid;
                 left: 60%;
                 min-height: 40ex;
                 width: 39%;
                 top: 3em;
                 position: fixed;
               }